<app-menu>
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <!--<img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
        <div mat-card-avatar class="example-header-image"></div>
        <br>
        <mat-card-subtitle>Name Lastname</mat-card-subtitle>
        <mat-card-subtitle>Email</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>favorite</mat-icon> 250 Likes</button>
      <button mat-button><mat-icon>chat_bubble_outline</mat-icon> 5 Commentaires</button>
    </mat-card-actions>
  </mat-card>
</app-menu>
